name: CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKER_REGISTRY: docker.io
  IMAGE_NAMESPACE: ${{ secrets.DOCKERHUB_USER }}

jobs:
  build:
    name: Build & Push Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./app/back
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/backend:${{ github.run_number }}

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./app/front
          push: true
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/frontend:${{ github.run_number }}

  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: '1.28.0'  # version stable pour amd64

      - name: Deploy manifests
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          # Remplacer les tags latest par le tag unique
          sed -i "s|backend:latest|backend:${{ github.run_number }}|g" k8s/*.yaml
          sed -i "s|frontend:latest|frontend:${{ github.run_number }}|g" k8s/*.yaml

          # Appliquer les manifests
          kubectl apply -f k8s/
