deploy:
  name: Deploy to Kubernetes
  runs-on: ubuntu-latest
  needs: build
  if: false
  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install kubectl manually
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/
        kubectl version --client

    - name: Apply manifests
      run: |
        echo "${{ secrets.KUBECONFIG }}" | base64 --decode > kubeconfig.yaml
        export KUBECONFIG=$(pwd)/kubeconfig.yaml
        kubectl apply -f k8s/
